body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-color: lightgrey;
}

header {
  text-align: center;
  background-color:#2c3e50;
  color:blanchedalmond;
  padding: 0.5rem 1rem;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.search-column {
  width: 33%;
}

.search-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 50%;
  padding: 2rem;
}

.search-card .card-header {
  padding: 1.5rem;
  color: blanchedalmond;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  background-color:#2c3e50 ;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  color: black;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 0.3rem;
}

.btn {
  width:100%;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  border-radius: 0.3rem;
  border: 2px solid black;
  color: blanchedalmond;
  background-color: #2c3e50;
}

.result-column {
  width:66%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  max-height: 100%;
}
.result-header {
  padding: 1.5rem;
  color: blanchedalmond;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  background-color:#2c3e50 ;
}

.weather-card {
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
}

.weather-header {
  padding: 1.5rem;
  color: blanchedalmond;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  background-color:#2c3e50 ;
  justify-content: flex-start;
}

.uvi-low {
  display: inline-block;
  width: fit-content;
  background-color: green;
}

.uvi-med {
  display: inline-block;
  width: fit-content;
  background-color: yellow;
}

.uvi-high {
  display: inline-block;
  width: fit-content;
  background-color: red;
}

.fiveday-card {
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  width:20%;
  flex-direction: row;
}

#five-day-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}